@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

:root{
    --door-size: 25vw;
    --max-door-size: 200px;
    font-family: 'Mountains of Christmas', serif;
}

body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    background-image: url('bg.jpg');
    background-size: cover;
}

body>h1{
  font-size: 3rem;
  text-shadow: 0px 0px 5px rgb(181, 79, 0);
  text-align: center;
}

#wrapper{
    width: 90vw;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.backDoor
{
  background-color: #333;
  position:relative;
  width:var(--door-size);
  height:var(--door-size);
  max-width:var(--max-door-size);
  max-height:var(--max-door-size);
  margin: 0 auto;
  margin-top:50px;
  background-size: cover;
}

.door
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10%;
  background-color: rgb(100, 0, 0);
  background-image: url('ribbon.png');
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid white;
  position:absolute;
  top:0px;
  left:0px;
  width:var(--door-size);
  height:var(--door-size);
  max-width:var(--max-door-size);
  max-height:var(--max-door-size);
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;

  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.doorOpen
{
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

.filler{
    display: none;
}

.modal{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


@media only screen and (min-width: 800px) {
    :root{
        --door-size: 10vw;
        --max-door-size: 130px;
    }

    body>h1{
      font-size: 4rem;
    }

    .filler{
        display: block;
    }

    #wrapper{
        grid-template-columns: repeat(7, 1fr);
        gap: 0px;
    }

    .door{
      font-size: 2rem;
    }

  }