body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper{
    width: 90vw;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.door{
    display: flex;
    justify-content: center;
    align-items: center;
}